---
import Base from "@/layouts/Base.astro";
import CaseStudyCard from "@/components/CaseStudyCard.astro";
import FeaturedCaseStudy from "@/components/FeaturedCaseStudy";
import MainContainer from "@/components/MainContainer.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import { getListPage, getSinglePage } from "@/lib/contentParser";
import { sortByDate } from "@/lib/utils/sortFunctions";
import CallToAction from "@/partials/CallToAction.astro";
import PageHeader from "@/partials/PageHeader.astro";

const { case_studies_folder, pagination } = config.settings;

export async function getStaticPaths() {
  const { pagination: pag } = config.settings;
  const allCaseStudy = await getSinglePage("case-studies");
  const totalPages = Math.ceil(allCaseStudy.length / pag);
  const paths = [];
  for (let i = 1; i < totalPages; i++) {
    paths.push({ params: { page: String(i + 1) } });
  }
  return paths;
}

const { page } = Astro.params;
const currentPage = Number(page) || 1;

const caseStudyIndex = await getListPage(`${case_studies_folder}/-index.md`);
const { title, meta_title, description, image } = caseStudyIndex.frontmatter;
const caseStudies = await getSinglePage(case_studies_folder);
const sortedCaseStudies = sortByDate(caseStudies);
const totalPages = Math.ceil(caseStudies.length / pagination);
const indexOfLastStudy = currentPage * pagination;
const indexOfFirstStudy = indexOfLastStudy - pagination;
const currentCaseStudies = sortedCaseStudies.slice(indexOfFirstStudy, indexOfLastStudy);

const page_header = { title, badge: "Case Studies", description };
const callToAction = await getListPage("sections/call-to-action.md");
const featuredCaseStudy = sortedCaseStudies.filter((study: any) => study.frontmatter.featured)[0];
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  <PageHeader page_header={page_header} client:load>
    {featuredCaseStudy && <FeaturedCaseStudy data={featuredCaseStudy} client:visible />}
  </PageHeader>
  <section>
    <MainContainer>
      <div class="container-padding-x container-padding-y">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-2.5 mb-10">
          {currentCaseStudies.map((study: any) => (
            <div>
              <CaseStudyCard data={study} client:visible />
            </div>
          ))}
        </div>
        <Pagination section={case_studies_folder} currentPage={currentPage} totalPages={totalPages} />
      </div>
    </MainContainer>
  </section>
  <CallToAction data={callToAction}/>
</Base>
