---
import Base from "@/layouts/Base.astro";
import MainContainer from "@/components/MainContainer.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const integrations = await getSinglePage("integrations");
  return integrations.map((integration: any) => ({
    params: { single: integration.id },
    props: { integration },
  }));
}

const { integration } = Astro.props;

if (integration.data.draft) return Astro.redirect("/404");

const { Content } = await render(integration);
const { title, meta_title, description, image, page_header } = integration.data;
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  {page_header && <PageHeader page_header={page_header} />}
  <section>
    <MainContainer>
      <div class="lg:w-4/5 mx-auto container-padding-y container-padding-x">
        <div class="content">
          <Content />
        </div>
      </div>
    </MainContainer>
  </section>
</Base>
