---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import FAQ from "@/partials/FAQ";
import Gallery from "@/partials/Gallery.astro";
import PageHeader from "@/partials/PageHeader.astro";
import WhyChooseUs from "@/partials/WhyChooseUs.astro";
import CardShape from "@/components/shape/CardShape";
import OpenPositions from "@/partials/OpenPositions";
import config from "@/config/config.json";
import { getListPage, getSinglePage } from "@/lib/contentParser";

const { career_folder } = config.settings;

const data = await getListPage("careers/-index.md");
const { title, description, meta_title, image, page_header, gallery } = data.frontmatter;
const faq = await getListPage("sections/faq.md");
const our_value = await getListPage("sections/our-value.md");
const callToAction = await getListPage("sections/call-to-action.md");
const careers = await getSinglePage(career_folder);
const openPositions = data.frontmatter.open_positions;
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  <PageHeader page_header={page_header}>
    <div class="border border-border/6 bg-card/60 rounded-4xl p-2.5">
      <CardShape>
        <img
          src={image}
          alt="Feature"
          width="1230"
          height="800"
          class="rounded-3xl object-cover object-top relative z-1 w-full sm:h-140"
        />
      </CardShape>
    </div>
  </PageHeader>
  <WhyChooseUs data={our_value} />
  {openPositions?.enable && (
    <OpenPositions
      badge={openPositions.badge}
      title={openPositions.title}
      careers={careers}
      client:visible
    />
  )}
  {gallery && <Gallery data={gallery} />}
  <FAQ data={faq} client:visible />
  <CallToAction data={callToAction} />
</Base>
