---
import Base from "@/layouts/Base.astro";
import MainContainer from "@/components/MainContainer.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const pages = await getSinglePage("pages");
  return pages.map((page: any) => ({
    params: { regular: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;

if (page.data.draft) return Astro.redirect("/404");

const { Content } = await render(page);
const { title, meta_title, description, image, page_header } = page.data;
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  {page_header && <PageHeader page_header={page_header} />}
  <section>
    <MainContainer>
      <div class="container-padding-x container-padding-y">
        <div class="content">
          <Content />
        </div>
      </div>
    </MainContainer>
  </section>
</Base>
