---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import PageHeader from "@/partials/PageHeader.astro";
import Statistics from "@/components/Statistics";
import Testimonials from "@/partials/Testimonials";
import TrustedClients from "@/partials/TrustedClients";
import WhyChooseUs from "@/partials/WhyChooseUs.astro";
import WhatOurGoals from "@/partials/WhatOurGoals.astro";
import OurTeam from "@/partials/OurTeam.astro";
import CardShape from "@/components/shape/CardShape";
import Badge from "@/components/Badge.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getListPage } from "@/lib/contentParser";

const data = await getListPage("about/-index.md");
const { title, description, meta_title, image, page_header, who_we_are, what_our_goals, our_team } = data.frontmatter;
const trusted_clients = await getListPage("sections/trusted-clients.md");
const whyChooseUs = await getListPage("sections/why-choose-us.md");
const statistics = await getListPage("sections/statistics.md");
const testimonial = await getListPage("sections/testimonial.md");
const callToAction = await getListPage("sections/call-to-action.md");
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  <PageHeader page_header={page_header}>
    <div class="border border-border/6 bg-card rounded-4xl p-2.5">
      <CardShape>
        <img
          src={who_we_are?.image}
          alt="Feature"
          width="1230"
          height="800"
          class="rounded-3xl object-cover relative z-1 w-full sm:h-140"
        />
      </CardShape>
      <div class="p-10 grid lg:grid-cols-2 text-left gap-10 sm:gap-20">
        <div>
          <Badge>{who_we_are?.badge}</Badge>
          <h2 class="sm:text-h1 font-medium" set:html={markdownify(who_we_are?.title || "").__html} />
        </div>
        <div class="text-lg text-gray">
          <p set:html={markdownify(who_we_are?.subtitle || "").__html} />
        </div>
      </div>
    </div>
  </PageHeader>
  <TrustedClients data={trusted_clients} client:load />
  <WhatOurGoals data={what_our_goals} />
  <WhyChooseUs data={whyChooseUs} />
  <OurTeam data={our_team} />
  <Statistics data={statistics} client:visible />
  <Testimonials data={testimonial} client:visible />
  <CallToAction data={callToAction} />
</Base>
