---
import Base from "@/layouts/Base.astro";
import CaseStudyCard from "@/components/CaseStudyCard.astro";
import FeaturedCaseStudy from "@/components/FeaturedCaseStudy";
import MainContainer from "@/components/MainContainer.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import { getListPage, getSinglePage } from "@/lib/contentParser";
import { sortByDate } from "@/lib/utils/sortFunctions";
import CallToAction from "@/partials/CallToAction.astro";
import PageHeader from "@/partials/PageHeader.astro";

const { case_studies_folder, pagination } = config.settings;

const caseStudyIndex = await getListPage(`${case_studies_folder}/-index.md`);
const { title, meta_title, description, image } = caseStudyIndex.frontmatter;
const caseStudies = await getSinglePage(case_studies_folder);
const sortedCaseStudies = sortByDate(caseStudies);
const totalPages = Math.ceil(caseStudies.length / pagination);
const currentCaseStudies = sortedCaseStudies.slice(0, pagination);
const page_header = { title, badge: "Case Studies", description };
const callToAction = await getListPage("sections/call-to-action.md");
const featuredCaseStudy = sortedCaseStudies.filter((study: any) => study.frontmatter.featured)[0];
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  <PageHeader page_header={page_header}>
    {featuredCaseStudy && <FeaturedCaseStudy data={featuredCaseStudy} client:visible />}
  </PageHeader>
  <section>
    <MainContainer>
      <div class="container-padding-x container-padding-y">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-2.5 mb-10">
          {currentCaseStudies.map((study: any) => (
            <div>
              <CaseStudyCard data={study} />
            </div>
          ))}
        </div>
        <Pagination section={case_studies_folder} currentPage={1} totalPages={totalPages} />
      </div>
    </MainContainer>
  </section>
  <CallToAction data={callToAction} />
</Base>
